body{
    margin: 0;
    background-color: #fff;
    color: #000;
    font-weight: 400;
    font-size: 15px;
    overflow: scroll;
    overflow-x: hidden;
}

a, a:link, a:visited, a:hover{
    color: #000;
    text-decoration: none;
}

input{
    outline: none;
    text-decoration: none;
    border: solid #777 1px;
}
button{
    outline: none;
    text-decoration: none;
    background-color: #eee;
    border: solid #777 1px;
}

