@import url('global.css');

*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
    font-family:'Mulish', sans-serif;
}
#container-landing .grid-dashboard{
    display: grid;
    grid-template-columns: 25vw 65vw;
    grid-template-rows: 15vh 80vh;
    grid-template-areas: "aside header"
                         "aside main"
                         "aside main";
}
#container-landing .grid-dashboard aside{
    grid-area: aside;
    border-right: 1px solid rgba(84, 101, 130, 0.2);;
    color:#546582;
}
#container-landing .grid-dashboard aside p, footer span{
    cursor:pointer;
}
#container-landing .grid-dashboard header{
    grid-area: header;
    border-bottom:1px solid rgba(84, 101, 130, 0.3);
}
#container-landing .grid-dashboard main{
    grid-area: main;
}   
#container-landing aside .initial-header{
   display:flex;
   justify-content: center;
   align-items: center;
   padding:38px 0 100.3px 0;
}
#container-landing aside .settings_and_help{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    border-top: 1px solid rgba(84, 101, 130, 0.2);
    border-bottom:1px solid rgba(84, 101, 130, 0.2);
}
#container-landing aside .settings_and_help p{
    margin:0 auto;
}
#container-landing aside .settings_and_help p:first-child{
    color:#166CD0;
}
#container-landing aside .main-menu-content, footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container-landing aside p:not(p:last-child), .settings{
   margin-bottom:25px;
}
#container-landing .main-menu-content > .text{
    margin-bottom:162px;
}
#container-landing aside section p{
    margin-left:95px;
}
#container-landing aside section{
    padding:25px 0;
}
#container-landing aside section p:first-child{
    font-weight:700;
}
#container-landing aside footer{
    margin-top:25px;
    color:#546582;
    padding:15px 0;
    width:100%;
}
#container-landing .header-download{
    margin:40px 50px 0 50px;
    cursor:pointer;
}
#container-landing .exit{
    margin:29px 0 0 50px;
    cursor:pointer;
}
#container-landing .exit span{
    margin-left:5px;
    font:700 25px 'Mulish', sans-serif;
    color:#166CD0;
}
#container-landing .main-landing{
    display:grid;
    grid-template-columns: 539px 270px;
    grid-template-rows: 37vh 37vh;
    grid-template-areas: "section main"
                         "section main";
    grid-gap:20px;
    margin:65px 0 0 54px;
    width:100%;
}
#container-landing .main-landing section{
    grid-area:section;
    border: 1.4px solid rgba(80, 95, 121, 0.1);
    border-radius:8px;
    padding:30px;
}
#container-landing .main-landing main{
    grid-area:main;
    border: 1.4px solid rgba(80, 95, 121, 0.1);
    border-radius:8px;
}
#container-landing .main-landing h2{
    width:210px;
    font:700 25px 'Mulish', sans-serif;
    color:#546582;
    margin-bottom:40px;
}
#container-landing .main-landing p:first-child{
    margin-bottom:20px;
    font:bold 16px 'Mulish', sans-serif;
    color:#546582;
    letter-spacing: 0.3;
}
#container-landing .main-landing .checkbox-block:nth-child(2){
    margin-bottom:26px;
}
#container-landing .main-landing h3{
    font:400 16px 'Mulish', sans-serif;
    color:#546582;
    margin-bottom:23px;
}
#container-landing .main-landing form textarea{
    border:1.4px solid rgba(80, 95, 121, 0.1);
    border-radius: 8px;
    padding:10px;
    font:400 14px 'Mulish', sans-serif;
    color:#546582;
}
#container-landing .main-landing form textarea::placeholder{
    font:400 14px 'Mulish', sans-serif;
    color:#B9BFC9;
}
#container-landing .main-landing span{
    font:normal 16px 'Mulish', sans-serif;
    color:#546582;
}
#container-landing .main-landing .display-page{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
#container-landing .right-aside p:first-child{
    font:400 16px 'Mulish', sans-serif;
    background:#F4F9FF;
    border-radius:8px;
    padding:15px;
    margin-bottom:48px;
}
#container-landing .right-aside h3{
    font:700 16px 'Mulish', sans-serif;
}
#container-landing .right-aside input[type="range"]{
    width:100%;
}
#container-landing .right-aside input[type="range"]::before{
    content:'0';
    display: block;
    position:relative;
    top:20px;
    font:400 12px 'Mulish', sans-serif;
    color:#858FA1;
}
#container-landing .right-aside input[type="range"]::after{
    content:'10';
    display:block;
    position:relative;
    top:20px;
    font:400 12px 'Mulish', sans-serif;
    color:#858FA1;
}
#container-landing .send-reply h3{
    margin:54px 20px 15px 0;
}
#container-landing .send-reply .input-block{
    margin-bottom:64px;
}
#container-landing .button-send, .button-send button{
    width:100%;
    height:100%;
}
#container-landing .button-send button{
    padding:10px;
    background: #1CC4BF;
    border-radius: 8px;
    border:0;
    color:#fff;
    cursor:pointer;
}
#container-landing .button-send button:hover{
    background: linear-gradient(258.4deg, rgba(0, 255, 240, 0.43) 58.84%, rgba(255, 255, 255, 0) 101.8%), #1CC4BF;
    letter-spacing: 0.3px;
    transition: letter-spacing 250ms ease-in-out;
}
#container-landing .list-appointment{
    padding:30px;
    height:100%;
}
#container-landing .list-appointment table{
    height:80%;
}
#container-landing .list-appointment table .code_id, table .name{
    color:#1CC4BF;
}
#container-landing .list-appointment table tr td:last-child{
   padding-left:23px;
   color:#505F79;
   font-weight:bold;
   font-size:15px;
}
#container-landing .list-appointment table tr td:first-child{
    color:#505F79;
}
