@import url(global.css);



.topoIndex{
    width: 100%;
    height: 632px;
    background-image: linear-gradient(to bottom, transparent 75%,  #e9effa);
    clear: both;
}
.topoIndex img{
    float: left;
}
.imagenBusca{
    width: 1400px;
    margin: 0 auto;
    padding-top: 120px;
    background-image: url("/web/imagens/trioIndex.png");
    background-repeat: no-repeat;
    background-position: bottom right ;
    background-size: 727px 511px;
}
.busca{
    width: 1080px;
    height: 415px;
    margin:  0 auto;
    
}
.itensBusca{
    width: 478px;
    float: left;
}
.itensBusca h1{
    width: 455px;

    font-family: 'Mulish', sans-serif;
    font-size: 33px;
    font-weight: bold;
    color: #546582;
}
.itensBusca h2{
    width: 355px;

    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-weight: normal;
    color: #546582;
}

.selectBusca{
    width: 103px;
    height: 44px;
    margin-right: 12px;
    padding: 13px;
    float: left;
    border: 1.4px solid rgba(84, 101, 130, 0.1);
    border-radius: 8px;
    
    font-family: 'Mulish', sans-serif;
}
.selectBusca:hover{
    border: 1.4px solid #858FA1;
}
.selectBusca p, .textoBusca p{
    margin: 0 auto 2px auto;
    font-size: 15px;
    color: rgba(80, 95, 121, 0.4);
}
.selectBusca select, .textoBusca input{
    font-weight: 600;
    font-size: 15.5px;
    border: none;
    color: #505F79;

}
.textoBusca{
    width: 303px;
    height: 44px;
    padding: 13px 10px;
    border: 1.4px solid rgba(84, 101, 130, 0.1);
    border-radius: 8px;
    float: left;
    font-family: 'Mulish', sans-serif;
}


.textoBusca input{
    width: 300px;
    height: 19px;

    font-weight: 600;
    font-size: 15px;

}
#btnBusca{
    width: 260px;
    height: 60px;
    margin-top: 26px;
    border: transparent;
    border-radius: 8px;
    background-color: #1CC4BF;
    
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
#btnBusca:hover{
    background: linear-gradient(258.4deg, rgba(0, 255, 240, 0.43) 58.84%, rgba(255, 255, 255, 0) 101.8%), #1CC4BF;
}
#btnBusca:focus{
    background: linear-gradient(258.4deg, rgba(0, 255, 240, 0.43) 58.84%, rgba(255, 255, 255, 0) 101.8%), #1CC4BF;
    box-shadow: 0px 10px 25px rgba(28, 196, 191, 0.3);
}